/*  文章标题 */
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
}

.blog-post{
    padding: 0;
    margin: 0;
}

.scrap {
    margin-top: 30px;
}

.scrap-title {
    margin-bottom: 5px;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center;

}



.scrap-meta {
    text-align: center;
    color: black;
    border-top: 1px solid #DDDDDD;
    font-size: 13px;
    margin-bottom: 30px;
    margin-top: 10px;
    padding-top: 5px;
}

.scrap-body {
    word-break: break-all;
    overflow: auto;
    display: block;
    font-size: 14px;
}


.scrap-body h1{
    background: #006699;
    border-radius: 6px 6px 6px 6px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    /*height: 40px;*/
    line-height: 20px;
    margin: 18px 0 !important;
    padding: 12px 0 8px 5px;
    /*text-shadow: 2px 2px 3px #222222;*/
    text-align:center;
    margin-bottom: 20px;
    box-shadow: 0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
    text-shadow: 2px 2px 3px #222222;
}

.scrap-body h2{
    width: 100%;
    background-color: #008FC6;
    border-radius: 3px;
    text-align:center;
    color: white;
    text-shadow: 1px 1px 2px #222222;
    margin-bottom: 12px;
    padding: 5px 15px;
    font-size: 18px;
}


.scrap-body h3{
    background-color: #51C332;
    border-radius: 3px;
    text-align:center;
    color: white;
    text-shadow: 1px 1px 2px #222222;
    padding: 5px 15px;
    margin-bottom: 10px;
    width:100%;
}



.crap-body pre{
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;

}

.port-body pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0;
}


.blog-tags{
    font-size: 16px;
    margin-bottom: 40px;
}
.blog-tags a{
    color: white;
}
.blog-tags a:hover{
    text-decoration: none;
}

.label{
    margin-right: 5px;
}