{% extends 'Blog/base.html' %}
{% load staticfiles %}
{% block custom-css %}
    <link rel="stylesheet" href="{% static 'blog/css/about.css' %}">
{% endblock %}
{% block page-main %}
        <table class="col-sm-12 col-xs-12">
            <tbody>
            <tr>
                <td class="gutter">
                    <pre><div class="line">1</div><div class="line">2</div><div class="line">3</div><div
                            class="line">4</div><div class="line">5</div><div class="line">6</div><div
                            class="line">7</div><div class="line">8</div><div class="line">9</div><div
                            class="line">10</div><div class="line">11</div></pre>
                </td>
                <td class="code">
                    <pre>
                        <div class="line">//                   __     __                          </div><div
                        class="line">//                  /\ \__ /\ \                         </div><div
                        class="line">//   _____    __  __\ \ ,_\\ \ \___      ___     ___    </div><div
                        class="line">//  /\ '__`\ /\ \/\ \\ \ \/ \ \  _ `\   / __`\ /' _ `\  </div><div
                        class="line">//  \ \ \L\ \\ \ \_\ \\ \ \_ \ \ \ \ \ /\ \L\ \/\ \/\ \ </div><div
                        class="line">//   \ \ ,__/ \/`____ \\ \__\ \ \_\ \_\\ \____/\ \_\ \_\</div><div
                        class="line">//    \ \ \/   `/___/> \\/__/  \/_/\/_/ \/___/  \/_/\/_/</div><div
                        class="line">//     \ \_\      /\___/                                </div><div
                        class="line">//      \/_/      \/__/                                 </div><div
                        class="line">//                                                      </div></pre>
                </td>
            </tr>
            </tbody>
        </table>

        <p class="haha">
        dfsfsf
        </p>
{% endblock %}