{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>

<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'blog/img/me-portrait.jpg' %}">
    <title>Weiheng's Blog</title>
    <link href="{% static 'blog/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lib/fontawesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'blog/lib/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/blog.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/highlights/pastie.css' %}" rel="stylesheet" >
    {% block custom-css %}
    {% endblock %}
    <script src="{% static 'blog/lib/ie-emulation-modes-warning.js' %}"></script>

</head>

<body>

<!-- 导航条 -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header navbtn">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#nav-list" aria-expanded="false" id="navlist-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-header navbar-logo">
                <a href="#">
                    <span>Weiheng</span> 's Blog
                </a>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="nav-list">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/index/">首页</a></li>
                <li><a href="{% url "blog:category" "Python" %}">Python</a></li>
                <li><a href="{% url "blog:category" "GoLang" %}">GoLang</a></li>
                <li><a href="#archives">归档</a></li>
                <li><a href="/about/">关于</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- /导航条-->

<div class="container">
    <div class="row">


        <!-- .blog-main -->
        <div class="col-sm-8 blog-main">
            {% block page-main %}
            {% endblock %}
        </div>
        <!-- /.blog-main -->


        <!-- .blog-sidebar -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar hidden-sm">
            <!-- 右边头像区域 -->
            <div class="col-lg-12 col-offset-0 col-md-12 col-offset-1 visible-lg visible-md right-about-me">
                <div class="right-about-me text-center center-block">
                    <img src='{% static 'blog/img/me-portrait.jpg' %}'>
                    <h5 class="nickname"><a href="">Heng Wei</a></h5>
                    <p class="signature">虽千万人吾往矣</p>
                    <ul class="list-inline">
                        <li><a href="https://www.cnblogs.com/weihengblog/"><i class="fa fa-rss"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-github"></i></a></li>
                        <li><a href=""><i class="fa fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- /右边头像区域 -->
            <!--sidebar-module-inset-->
            <div class="sidebar-module">
                <h4>标签</h4>
                <ol class="list-unstyled">
                    {% get_tags as get_tags %}
                    {% for tag in get_tags %}
                        <li><a href="{% url "blog:tags" tag.name %}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>分类</h4>
                <ol class="list-unstyled">
                    {% get_classify as get_classify %}
                    {% for classify in get_classify %}
                        <li><a href="{% url "blog:category" classify.name %}">{{ classify.name }}</a></li>
                    {% endfor %}

                </ol>
            </div>
            <div class="sidebar-module" id="archives">
                <h4>归档</h4>
                <ol class="list-unstyled">
                    {% get_archives as get_archives %}
                    {% for archive in get_archives %}
                        <li><a href="{% url 'blog:archives' archive.year archive.month %}">{{ archive|date:'Y年m月d日' }}</a></li>
                    {% endfor %}

                </ol>
            </div>
            <div class="sidebar-module">
                <h4>友情链接</h4>
                <ol class="list-unstyled">
                    <li><a href="https://www.python.org/">Python</a></li>
                    <li><a href="https://www.djangoproject.com/">Django</a></li>
                    <li><a href="https://studygolang.com/">Go语言中文网</a></li>
                </ol>
            </div>


        </div>
        <!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->


<footer class="blog-footer">
    <p>Blog template built for <a href="http://getbootstrap.com/">Bootstrap</a>
    </p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


<script src="{% static 'blog/lib/jquery/jquery.js' %}"></script>
<script>window.jQuery || document.write('<script src="{% static 'blog/lib/jquery/jquery.js' %}"><\/script>')</script>
<script src="{% static 'blog/lib/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'blog/lib/ie10-viewport-bug-workaround.js' %}"></script>


</body>
</html>