{% extends 'Blog/base.html' %}
{% load staticfiles %}


{% block custom-css %}
    <link href="{% static 'blog/css/detail.css' %}" rel="stylesheet">

{% endblock %}
{% block page-main %}
    <!-- 移动端显示信息-->
    <div class="visible-xs-block visible-sm-block mobile-show">
        <div class="container">
            <div class="mobile-portrait text-center center-block">
                <img src="{% static 'blog/img/mobile-logo.png' %}" alt="" style=" width:127px;">
                <p class="nickname">Heng Wei</p>
                <p class="signature">虽千万人吾往矣</p>
                <ul class="list-inline">
                    <li><a href=""><i class="fa fa-weixin"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-github"></i></a></li>
                    <li><a href=""><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /移动端显示信息-->

     <div class="blog-post" style="margin-top: 40px">
        <h2 class="scrap-title">《Python Cookbook》 3rd Edition 翻译</h2>
        <p class="scrap-meta"><i class="fa fa-calendar"></i> {{ port.created_time|date:'Y年m月d日' }} · <a
                href="https://v3.bootcss.com/examples/blog/#">{{ port.category }}</a></p>
        <div class="scrap-body">
            {{ port.body|safe }}
        </div>
    </div><!-- /.blog-post -->

    <div class="blog-tags">
        {% for tag in port.tags.all %}
            <div class="label label-default">
                <a href="{% url "blog:tags" tag.name %}">{{ tag.name }}</a>
            </div>

        {% endfor %}
    </div>

{% endblock %}