{% extends 'Blog/base.html' %}
{% load staticfiles %}
{% block page-main %}

    <!-- 移动端显示信息-->
    <div class="visible-xs-block visible-sm-block mobile-show">
        <div class="container">
            <div class="mobile-portrait text-center center-block">
                <img src="{% static 'blog/img/mobile-logo.png' %}" alt="" style=" width:127px;">
                <p class="nickname">Heng Wei</p>
                <p class="signature">虽千万人吾往矣</p>
                <ul class="list-inline">
                    <li><a href=""><i class="fa fa-rss"></i></a></li>
                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                    <li><a href=""><i class="fa fa-github"></i></a></li>
                    <li><a href=""><i class="fa fa-envelope"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /移动端显示信息-->


    <!-- /.blog-post -->
    {% for article in article_list %}
        <div class="blog-post">
            <div class="post-title"><h3><a href="{{ article.get_abs_url }}">{{ article.title }}</a></h3></div>
            <div class="post-content"><p>{{ article.excerpt|truncatechars:100 }}</p></div>
            <div class="post-footer">
                <div class="meta">
                    <div class="info">
                        {% for tag in article.tags.all %}
                            <i class="fa fa-tag post-tag "></i>
                            <a href="{% url "blog:tags" tag %}" title="测试分类" class="tag margin-right-10">{{ tag }}</a>
                        {% endfor %}
                        <i class="fa fa-calendar post-tag"></i>
                        <span class="date margin-right-10">{{ article.created_time|date:'Y年m月d日' }}</span>

                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <nav>
        <ul class="pager">
            <li class="pull-left hide"><a href="#">上一页</a></li>
            <li class="pull-right"><a href="#">下一页</a></li>
        </ul>
    </nav>

{% endblock %}