{% extends 'MyBlog/base.html' %}{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">{% endblock %}
{% block meta-description %}<meta name="description" content="weiheng的个人博客,记录成长历程.热衷于python，linux等，python web开发专业博客">{% endblock  %}
{% block meta-keywords %}
    <meta name="keywords" content="互联网,Python,Golang,个人博客,python语言,python教程,python笔记,Go语言,Go教程,Go笔记">{% endblock %}
{% block page-main %}
    {% for stick_article in stick_article_list %}
        <div class="panel panel-default">
            <div class="panel-heading"><h2>{{ stick_article.title }}(置顶)</h2></div>
            <div class="panel-body">
                <p>{{ stick_article.excerpt }}</p>
                <a href="{% url 'blog:detail' stick_article.pk %}" class="btn btn-default read-more">继续阅读<span class="meta-nav">→</span></a>
            </div>
            <div class="panel-footer clearfix">
                <ul>
                    <li class="posted-on">
                        <i class="fa fa-calendar"></i>
                        <a href="#" rel="bookmark">
                            <time class="entry-date published dt-published" itemprop="datePublished"
                                  datetime="2018-06-05T11:11:56+00:00">2018年6月5日
                            </time>
                        </a>
                    </li>
                    <li class="byline author p-author vcard hcard h-card" itemprop="author">
                        <i class="fa fa-user"></i>
                        <a class="url u-url" href="" rel="author" itemprop="url"><span
                                class=" fn p-name" itemprop="name">admin</span></a>
                    </li>
                    <li class="cat-links">
                        <i class="fa fa-folder-open"></i>
                        <a href="{% url 'blog:category' stick_article.category %}" rel="category">Python</a>
                    </li>
                    <li class="comment">
                        <i class="fa fa-eye"></i><a href="#">{{ stick_article.quantity }}阅读</a>
                    </li>
                    <div class="clearfix"></div>
                </ul>
            </div>
        </div>
    {% endfor %}



    {% for article in article_list %}
        <div class="panel panel-default">
        <div class="panel-heading"><h2><a href="{% url 'blog:detail' article.pk %}">{{ article.title }}</a></h2></div>
        <div class="panel-body">
            <p>{{ article.excerpt }}</p>
            <a href="{% url 'blog:detail' article.pk %}" class="btn btn-default read-more">继续阅读<span class="meta-nav">→</span></a>
        </div>
        <div class="panel-footer clearfix">
            <ul>
                <li class="posted-on">
                    <i class="fa fa-calendar"></i>
                    <a href="#" rel="bookmark">
                        <time class="entry-date published dt-published" itemprop="datePublished"
                              datetime="2018-06-05T11:11:56+00:00">{{ article.created_time|date:'Y-m-d' }}
                        </time>
                    </a>
                </li>
                <li class="byline author p-author vcard hcard h-card" itemprop="author ">
                    <i class="fa fa-user"></i>
                    <a class="url u-url" href="#" rel="author" itemprop="url"><span
                            class=" fn p-name" itemprop="name">{{ article.author }}</span></a>
                </li>
                <li class="cat-links">
                    <i class="fa fa-folder-open"></i>
                    <a href="#" rel="category">{{ article.category }}</a>
                </li>
                <li class="comment">
                    <i class="fa fa-eye"></i><a href="#">{{ article.quantity }} 阅读</a>
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
    {% endfor %}

    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{ page_html|safe }}
        </ul>
    </nav>
{% endblock %}

