{% extends 'MyBlog/base.html' %}
{% block meta-description %}
<meta name="description" content="weiheng的个人博客,记录成长历程.专注于互联网潮流，可用性分析，python web开发等的专业博客">
{% endblock  %}
{% block meta-keywords %}
    <meta name="keywords" content="互联网,Python,Golang,个人博客,python语言,python教程,python笔记,Go语言,Go教程,Go笔记">
{% endblock %}

{% block page-main %}
    <div class="panel panel-default">
                    <div class="panel-heading"><h2>我的开源</h2></div>
                    <div class="panel-body">
                        <p>还在整理中...</p>
                    </div>
                </div>
{% endblock %}